div#header
  .container
    .innder-container
      strong.logo
        <a href="http://californiapolicycenter.org/"><img src="http://californiapolicycenter.org/wp-content/uploads/sites/2/2015/04/logo_cpc_v2_244x60.png" alt="California Policy Center"></a>
      ul.nav.navbar-nav.navbar-right.search-icon
        li#searchIcon
          a(href='javascript:void(0);', onclick="GOVWIKI.history(0)") Return to Map &nbsp;&nbsp;&nbsp;
            span(style="font-size:200%;vertical-align:middle;")

        li#stantonIcon
          a(href='javascript:void(0);', onclick="GOVWIKI.history(2)") Return to Stanton &nbsp;&nbsp;&nbsp;
            span(style="font-size:200%;vertical-align:middle;")

